.choices {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.computer, .player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.spinningIcon {
    animation: spin 2s linear infinite;
  }
  
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
  