.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  margin: 20px;
  padding: 10px;
  min-width: 500px;
  min-height: 400px;
}

header {
  padding: 10px;
}
